<a href="https://moonflowers.co/collections/products">{{ 'MF_Yellow_Sticker.png' | asset_url | img_tag: shop.name, 'rotate-mobile' }}</a>
  
<a href="https://moonflowers.co/collections/products">{{ 'MF_Yellow_Sticker.png' | asset_url | img_tag: shop.name, 'rotate-desktop' }}</a>