            <div class="process-module mv80 l:mv100" data-component="processModule">
               <div class="reveals" data-component="reveals">
                  <div class="dn l:df">
                     <div class="w50 pt150 pl40 xxl:pl70 pr50 pr60 xl:pr80">
                        <h3 class="f18 lh117 ls04 ttu mb25">How our Mezcal is made</h3>
                        <ol class="process-module__step">
                           <li
                              class="process-module__step rel pv50 serif f24 xs:f26 s:f29 m:f44 xxl:f48 lh117 js-steps"
                              >
                              <h4 class="mb35 pl65">Farming</h4>
                              <div class="sans f22 lh130 xl:pl65">
                                 <p>It all starts by planting baby agaves and nurturing them with water and sun for up to eight years. As they’re growing, we constantly clean them by hand and maintain fresh Matatlán soil. This special soil gives the mezcal earthy notes later in the process. When they’re ready, we harvest the heart of the agave and remove the leaves (pencas) in order to get only the pineapple (piña) which contains the most sweetness.</p>
                              </div>
                           </li>
                           <li
                              class="process-module__step rel pv50 serif f24 xs:f26 s:f29 m:f44 xxl:f48 lh117 js-steps"
                              style="opacity: 0.40;"
                              >
                              <h4 class="mb35 pl65">Roasting</h4>
                              <div class="sans f22 lh130 xl:pl65">
                                 <p>Once the agaves have been harvested, we start a fire with pinewood logs in the ground, cover it with stones, and carefully pile on the agaves. This process adds a distinct note of cooked agave into Rosaluna and takes up to five days.</p>
                              </div>
                           </li>
                           <li
                              class="process-module__step rel pv50 serif f24 xs:f26 s:f29 m:f44 xxl:f48 lh117 js-steps"
                              style="opacity: 0.40;"
                              >
                              <h4 class="mb35 pl65">Milling</h4>
                              <div class="sans f22 lh130 xl:pl65">
                                 <p>In this part of the process, we use a mash or a mill to take all of the juices and fiber out of the cooked agave plant.</p>
                              </div>
                           </li>
                           <li
                              class="process-module__step rel pv50 serif f24 xs:f26 s:f29 m:f44 xxl:f48 lh117 js-steps"
                              style="opacity: 0.40;"
                              >
                              <h4 class="mb35 pl65">Fermenting</h4>
                              <div class="sans f22 lh130 xl:pl65">
                                 <p>Using pine wood, we add water to the juice and agave fiber to begin the fermentation process. Fermentation is where the magic happens and we start building alcohols—it can take up to eight days.</p>
                              </div>
                           </li>
                           <li
                              class="process-module__step rel pv50 serif f24 xs:f26 s:f29 m:f44 xxl:f48 lh117 js-steps"
                              style="opacity: 0.40;"
                              >
                              <h4 class="mb35 pl65">Distilling</h4>
                              <div class="sans f22 lh130 xl:pl65">
                                 <p>In our double distillation process, we begin by mixing the fermented agave juice with the fiber. In the second distillation, we take the head and heart of the first distillation and distill it again. This process separates the water from the alcohol and captures the alcohol into the final spirit of Rosaluna.</p>
                              </div>
                           </li>
                        </ol>
                     </div>
                     <div class="sticky top w50 vh100 pv35 js-imageWrap">
                        <div class="rel x y">
                           <div class="abs fill oh brl8 js-images">
                                    <img
                                       class="lazy__img js-img x y o-cover"
                                       src="https://via.placeholder.com/1080x110"
                                       alt="Rosaluna&#39;s agave field"
                                       >
                           </div>
                           <div class="abs fill oh brl8 js-images" style="opacity: 0; visibility: hidden; pointer-events: none; z-index: 2" >
                                    <img
                                       class="js-img x y o-cover"
                                      src="https://via.placeholder.com/1080x110"
                                       alt="Agaves roasting in a pit of burning mesquite"
                                       >
                           </div>
                           <div class="abs fill oh brl8 js-images" style="opacity: 0; visibility: hidden; pointer-events: none; z-index: 3">
                                    <img
                                       class=" js-img x y o-cover"
                                       src="https://via.placeholder.com/1080x110"
                                       alt="A mezcalero milling the agave hearts"
                                       >
                           </div>
                           <div class="abs fill oh brl8 js-images" style="opacity: 0; visibility: hidden; pointer-events: none; z-index: 4">
                                    <img
                                       class=" js-img x y o-cover"
                                       src="https://via.placeholder.com/1080x110"
                                       alt="A pile of roasted hearts of espadín agave"
                                       >
                           </div>
                           <div
                              class="abs fill oh brl8 js-images"
                              style="opacity: 0; visibility: hidden; pointer-events: none; z-index: 5"
                              >

                                    <img
                                       class=" js-img x y o-cover"
                                       src="https://via.placeholder.com/1080x110"
                                       alt="Rosaluna Mezcal distilling in a large barrel"
                                       >

                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="db l:dn x oh">
                     <h3 class="f16 m:f18 lh117 ls04 ttu mb30 ph20">How our Mezcal is made</h3>
                     <div class="process-module__carousel">
                        <div class="df mb30 js-carousels">
                           <div class="process-module__carousel__item process-module__carousel__item--images r r--8x7 is-selected">
                              <div class="ro ml20 br8 oh">
                                
                                       <img
                                          class=" js-img x y o-cover"
                                          src="https://via.placeholder.com/1080x110"
                                          alt="Rosaluna&#39;s agave field"
                                          >
     
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--images r r--8x7">
                              <div class="ro ml20 br8 oh">

                                       <img
                                          class=" js-img x y o-cover"
                                          src="https://via.placeholder.com/1080x110"
                                          alt="Agaves roasting in a pit of burning mesquite"
                                          >

                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--images r r--8x7">
                              <div class="ro ml20 br8 oh">
                                       <img
                                          class=" js-img x y o-cover"
                                          src="https://via.placeholder.com/1080x110"
                                          alt="A mezcalero milling the agave hearts"
                                          >
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--images r r--8x7">
                              <div class="ro ml20 br8 oh">

                                       <img
                                          class=" js-img x y o-cover"
                                          src="https://via.placeholder.com/1080x110"
                                          alt="A pile of roasted hearts of espadín agave"
                                          >
        
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--images r r--8x7">
                              <div class="ro ml20 br8 oh">

                                       <img
                                          class=" js-img x y o-cover"
                                          src="https://via.placeholder.com/1080x110"
                                          alt="Rosaluna Mezcal distilling in a large barrel"
                                          >

                              </div>
                           </div>
                        </div>
                        <div class="df js-carousels">
                           <div class="process-module__carousel__item process-module__carousel__item--content pl20 is-selected">
                              <h4 class="serif f20 xs:f26 s:f29 lh100 mb20">1. Farming</h4>
                              <div class="sans f16 xs:f18 lh140">
                                 <p>It all starts by planting baby agaves and nurturing them with water and sun for up to eight years. As they’re growing, we constantly clean them by hand and maintain fresh Matatlán soil. This special soil gives the mezcal earthy notes later in the process. When they’re ready, we harvest the heart of the agave and remove the leaves (pencas) in order to get only the pineapple (piña) which contains the most sweetness.</p>
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--content pl20">
                              <h4 class="serif f20 xs:f26 s:f29 lh100 mb20">2. Roasting</h4>
                              <div class="sans f16 xs:f18 lh140">
                                 <p>Once the agaves have been harvested, we start a fire with pinewood logs in the ground, cover it with stones, and carefully pile on the agaves. This process adds a distinct note of cooked agave into Rosaluna and takes up to five days.</p>
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--content pl20">
                              <h4 class="serif f20 xs:f26 s:f29 lh100 mb20">3. Milling</h4>
                              <div class="sans f16 xs:f18 lh140">
                                 <p>In this part of the process, we use a mash or a mill to take all of the juices and fiber out of the cooked agave plant.</p>
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--content pl20">
                              <h4 class="serif f20 xs:f26 s:f29 lh100 mb20">4. Fermenting</h4>
                              <div class="sans f16 xs:f18 lh140">
                                 <p>Using pine wood, we add water to the juice and agave fiber to begin the fermentation process. Fermentation is where the magic happens and we start building alcohols—it can take up to eight days.</p>
                              </div>
                           </div>
                           <div class="process-module__carousel__item process-module__carousel__item--content pl20">
                              <h4 class="serif f20 xs:f26 s:f29 lh100 mb20">5. Distilling</h4>
                              <div class="sans f16 xs:f18 lh140">
                                 <p>In our double distillation process, we begin by mixing the fermented agave juice with the fiber. In the second distillation, we take the head and heart of the first distillation and distill it again. This process separates the water from the alcohol and captures the alcohol into the final spirit of Rosaluna.</p>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>


{% schema %}
  {
    "name": "Section name",
    "settings": []
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
